button{
  .btn {
    padding: .625rem 1.25rem .6875rem 1.25rem;
    font-size: .6875rem;

    @include respond(tab-port) {
      padding: 0 2.2rem !important;
    }
  }
}

.btn {
  height: 100%;
  width: 100%;
  background-color: #888888;
  margin: 0;
  -webkit-border-top-right-radius: 2.88px;
  -webkit-border-bottom-right-radius: 2.88px;
  -moz-border-radius-topright: 2.88px;
  -moz-border-radius-bottomright: 2.88px;
  border-top-right-radius: 2.88px;
  border-bottom-right-radius: 2.88px;
  padding: 0 24px;

  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
  line-height: normal;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-color: #3672a0;
  color: #fff;
  transition: background-color 300ms ease-out;

  &.shop-now {
    max-width: 33.5rem;
    height: 6rem;
    background-color: $color-black;
    font-size: 1.8rem;
  }

  &.contest-submit {
    background-color: $color-burgundy;
    @media #{$mq-btn-fix}{
      padding: 5px;
    }
  }

  span {
    font-size: 1.2rem;
    font-weight: bold;
    @media #{$mq-btn-fix}{
      font-size: .875rem;
    }
  }
  span>i {
    padding: 0;
    margin: 0;
    font-size: 2.2rem;
    line-height: normal;
    display: block;
  }
}


